body {
    font-family: "Lato", sans-serif;
  }

  .title {
    padding: 6px 5px 6px 35px !important;
    font-size: 16px !important;
  }
  
  .sidenav {
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color:black;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .underline {
    border-bottom-style: groove;
  }

  .icon1 {
    background: url(./images/Group.png);
    height: 28px;
    width: 25px;
    display: inline-block;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-right: 5px;    
}

.icon2 {
  background: url(./images/Shape-3.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}

.icon3 {
  background: url(./images/Shape-4.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}

.icon4 {
  background: url(./images/Shape-5.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon5 {
  background: url(./images/Shape-1.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon6 {
  background: url(./images/Shape-2.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon7 {
  background: url(./images/Shape-6.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon8 {
  background: url(./images/SYSTEM.png);
  height: 28px;
  width: 50px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon9 {
  background: url(./images/Shape-7.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon10 {
  background: url(./images/Shape-8.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left center;
  background-repeat: no-repeat;
  padding-right: 5px;    
}
.icon11 {
  background: url(./images/Shape.png);
  height: 28px;
  width: 25px;
  display: inline-block;
  background-position: left center;
  background-repeat: no-repeat;
  padding-right: 5px;    
}